<div #card class="card overflow-hidden">
  <div class="card-body">
    <div class="d-flex mb-2 align-items-center justify-content-between">
      <h4 class="card-title">{{ cardTitle }}</h4>
      <div>
        <ul class="nav">
          <li *ngIf="enableFullscreen" class="nav-item">
            <a
              (click)="toggleFullscreen(card)"
              class="nav-link px-2 link-secondary"
              role="button"
            >
              <span class="icon icon-fullscreen"></span>
            </a>
          </li>
          <li *ngIf="enableSetting" class="nav-item">
            <a href="#" class="nav-link px-2 link-secondary" role="button">
              <span class="icon icon-settings"></span>
            </a>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link px-2 link-secondary" role="button">
              <span class="icon icon-help"></span>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="card-text">
      <ng-content></ng-content>
    </div>
  </div>
</div>
