<div class="container-fluid">
  <header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-2 border-bottom"
  >
    <div class="col-md-3 mb-2 mb-md-0">
      <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
        <span>Govalle Construction</span>
        <div>
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="24"
            height="24"
            class="rounded-circle"
          /><img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="24"
            height="24"
            class="rounded-circle"
          />
        </div>
      </a>
    </div>

    <ul
      class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0"
    >
      <li class="nav-item">
        <a href="#" class="nav-link px-2">
          <span class="icon icon-chart-1"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">
          <span class="icon icon-chart-2"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">
          <span class="icon icon-chart-3"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link active px-2">
          <span class="icon icon-chart-4"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">
          <span class="icon icon-chart-5"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">
          <span class="icon icon-calendar"></span>
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link px-2">
          <span class="icon icon-file"></span>
        </a>
      </li>
    </ul>

    <div class="col-md-3"></div>
  </header>
</div>
