<aside
  class="aside d-flex flex-column flex-shrink-0 h-100 bg-body-tertiary border-end border-2"
  style="width: 4.5rem"
>
  <a
    href="/"
    class="d-block mx-auto my-4 link-body-emphasis"
    data-bs-toggle="tooltip"
    data-bs-placement="right"
    data-bs-original-title="Icon-only"
  >
    <span class="border border-3 rounded-5 p-2 fw-bold">PM</span>
    <span class="visually-hidden">Icon-only</span>
  </a>
  <ul
    class="nav nav-pills nav-flush flex-column mb-auto text-center border-top border-2"
  >
    <li class="nav-item">
      <a
        href="#"
        class="nav-link py-3 rounded-0 active"
        aria-current="page"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Home"
        data-bs-original-title="Home"
      >
        <span class="icon icon-home"></span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Dashboard"
        data-bs-original-title="Dashboard"
      >
        <span class="icon icon-clock"></span>
      </a>
    </li>
    <li class="border-bottom"></li>
    <li>
      <a
        href="#"
        class="nav-link py-3 rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Orders"
        data-bs-original-title="Orders"
      >
        <span class="icon icon-user"></span>
      </a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Products"
        data-bs-original-title="Products"
      >
        <span class="icon icon-business"></span
      ></a>
    </li>
    <li>
      <a
        href="#"
        class="nav-link py-3 rounded-0"
        data-bs-toggle="tooltip"
        data-bs-placement="right"
        aria-label="Customers"
        data-bs-original-title="Customers"
      >
        <svg
          class="bi pe-none"
          width="24"
          height="24"
          role="img"
          aria-label="Customers"
        >
          <use xlink:href="#people-circle"></use>
        </svg>
      </a>
    </li>
  </ul>
  <div>
    <ul class="nav nav-pills flex-column mb-auto text-center">
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3 rounded-0"
          aria-current="page"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          aria-label="Home"
          data-bs-original-title="Home"
        >
          <span class="icon icon-add"></span>
        </a>
      </li>
      <li class="nav-item">
        <a
          href="#"
          class="nav-link py-3 rounded-0"
          aria-current="page"
          data-bs-toggle="tooltip"
          data-bs-placement="right"
          aria-label="Home"
          data-bs-original-title="Home"
        >
          <span class="icon icon-help"></span>
        </a>
      </li>
    </ul>
    <div class="dropdown border-top">
      <a
        href="#"
        class="d-flex align-items-center justify-content-center p-3 link-body-emphasis text-decoration-none dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
      >
        <img
          src="https://github.com/mdo.png"
          alt="mdo"
          width="24"
          height="24"
          class="rounded-circle"
        />
      </a>
      <ul class="dropdown-menu text-small shadow">
        <li><a class="dropdown-item" href="#">Settings</a></li>
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider" /></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </div>
  </div>
</aside>
