$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-add: "\e900";
$icon-clock: "\e901";
$icon-chart-2: "\e902";
$icon-chart-1: "\e903";
$icon-chart-3: "\e904";
$icon-fullscreen: "\e905";
$icon-fullscreen_exit: "\e910";
$icon-chart-4: "\e906";
$icon-user: "\e907";
$icon-dashboard: "\e908";
$icon-home: "\e909";
$icon-settings: "\e90a";
$icon-help: "\e90b";
$icon-calendar: "\e90c";
$icon-chart-5: "\e90f";
$icon-file: "\e90d";
$icon-business: "\e90e";

