<div class="container-fluid h-100 pb-3">
  <div class="row h-100">
    <div class="col-12 col-md-6 col-lg-4 border border-bottom-0 border-end-0">
      <app-card
        cardTitle="Health"
        [enableFullscreen]="false"
        [enableSetting]="false"
      >
        <app-health></app-health>
      </app-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 border border-bottom-0 border-end-0">
      <app-card cardTitle="Tasks">
        <canvas
          *ngIf="tasks"
          baseChart
          [id]="'tasks'"
          [type]="'doughnut'"
          [data]="tasks.data"
          [options]="tasks.options"
          [plugins]="[paddingBelowLegends]"
        ></canvas>
      </app-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 border border-bottom-0 border-end-0">
      <app-card cardTitle="Progress">
        <canvas
          *ngIf="progress"
          baseChart
          [type]="progress.type"
          [data]="progress.data"
          [options]="progress.options"
          [plugins]="[paddingBelowLegends]"
        ></canvas>
      </app-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 border border-bottom-0 border-end-0">
      <app-card cardTitle="Time">
        <canvas
          *ngIf="time"
          [id]="'time'"
          baseChart
          [type]="time.type"
          [data]="time.data"
          [options]="time.options"
          [plugins]="[paddingBelowLegends]"
        ></canvas>
      </app-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 border border-bottom-0 border-end-0">
      <app-card cardTitle="Cost">
        <canvas
          *ngIf="cost"
          baseChart
          [id]="'cost'"
          [type]="cost.type"
          [data]="cost.data"
          [options]="cost.options"
          [plugins]="[paddingBelowLegends]"
        ></canvas>
      </app-card>
    </div>
    <div class="col-12 col-md-6 col-lg-4 border border-bottom-0 border-end-0">
      <app-card cardTitle="Workload">
        <canvas
          *ngIf="workload"
          baseChart
          id="workload"
          [data]="workload.data"
          [options]="workload.options"
          [plugins]="[paddingBelowLegends]"
        ></canvas>
      </app-card>
    </div>
  </div>
</div>
