<div class="container-fluid h-100 pb-3">
  <div class="row h-100">
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
  </div>
</div>
