<div class="container-fluid h-100 pb-3">
  <div class="row h-100">
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card
        cardTitle="Health"
        [enableFullscreen]="false"
        [enableSetting]="false"
      >
        <app-health></app-health>
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card cardTitle="Tasks">
        <app-pie-chart></app-pie-chart>
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card cardTitle="Progress">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card cardTitle="Time">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card cardTitle="Cost">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
    <div
      class="col-12 col-md-6 col-lg-4 p-3 border border-bottom-0 border-end-0"
    >
      <app-card cardTitle="Workload">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iste ipsam,
        iusto laudantium molestiae vero enim culpa non molestias nam illum natus
        maxime accusantium pariatur, inventore ab voluptates illo id tenetur.
      </app-card>
    </div>
  </div>
</div>
